<div class="view-page-wrapper" ng-controller="homeCtrl">
    <div id="home-title">
        <span>Let your creativity blossom with amazing photos!</span>
    </div>
    <div id="home-bottom-wrapper">
        <div id="home-light-background"></div>
        <div id="profile-tile">
            <div id="block1" class="tile-block" ng-style="tileBackground"></div>
            <div id="block2" class="tile-block" ng-style="tileBackground"></div>
            <div id="block3" class="tile-block" ng-style="tileBackground"></div>
            <div id="block4" class="tile-block" ng-style="tileBackground"></div>
            <div id="block5" class="tile-block" ng-style="tileBackground"></div>
            <div id="block6" class="tile-block" ng-style="tileBackground"></div>
            <div id="block7" class="tile-block" ng-style="tileBackground"></div>
            <div id="block8" class="tile-block" ng-style="tileBackground"></div>
            <div id="block9" class="tile-block" ng-style="tileBackground"></div>
        </div>
        <div id="home-button-container">
            <a href="#/New">
            <div id="create-new-button" class="home-login-button yellow" >Create New Collage</div>
            </a>
        </div>
    </div>

</div>