<div class="logo-element">
    <div class="logo-box-outer">
        <div class="logo-box-inner1"></div>
        <div class="logo-box-inner2"></div>
        <div class="logo-box-inner3"></div>
        <div class="logo-box-inner4"></div>
    </div>
    <div class="logo-name-container" ng-if="text">

        <span class="logo-span logo-span-1">Collage</span>
        <span class="logo-span">Box</span>
    </div>
</div>