#navigator-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 74px;
    height: 100%;
    color: #838383;
    background: #f2f2f2;
}

#navigator-logo-container {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 74px;
    width: 100%;
    background-color: #ee0b41;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
    -moz-transition: background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#navigator-logo-container .logo-box-outer {
    -moz-transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#navigator-logo{
    transform: scale(0.8);
}

#navigator-logo-container:hover, #navigator-logo-container:hover .logo-box-outer  {
    background-color:#ab052c;
}

#navigator-option-container {
    position: absolute;
    left: 0px;
    top: 74px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background: #f2f2f2;
}

.navigator-options {
    width: 100%;
    height: 33%;
    background-color: #f2f2f2;
    -moz-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0px;
}

.navigator-icons {
    font-family: ubuntu-icon;
    font-size: 35px;
    color: #ee0b41;
    line-height: 30px;
    padding: 0px;
    margin-top: -17px;
    margin-left: -15px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.navigator-options:hover {
    background-color: white;
}

.navigator-options:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    z-index: 1;
}

.navigator-arrow{
    font-family: monospace;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 6px;
    font-size: 15px;
    -moz-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navigator-options:hover .navigator-arrow {
    color: #ee0b41;
    transform:translateX(5px);
    -webkit-transform : translateX(5px);
    -moz-transform : translateX(5px);
}

#logout-button {
    background-color: #ee0b41;
    position: fixed;
    right: -102px;
    width: 100px;
    height: 45px;
    top: 15px;
    color: white;
    padding-left: 50px;
    -moz-transition: right .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition:  right .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition:  right .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition:  right .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#logout-button:hover {
    right: 0px;
}
#logout-button .profile-picture {
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
}

.logout-text{
    color: #ffffff;
    cursor: pointer;
    line-height: 45px;
    height: 45px;
    position: absolute;
    left: 50px;
    background-color: #ee0b41;
    width: 100px;
    text-align: center;
    font-weight: bold;
    -moz-transition: background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition:  background-color .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.logout-text:hover {
    background-color:#ab052c;
}